[2016-01-07 04:28] ebkalderon opened #1 "Cargo stdout doesn't appear until process exits"
When calling any Amethyst subcommand which utilizes the `cargo::call()` wrapper, the output doesn't appear immediately on the screen.

This is because [std::process::Command](http://doc.rust-lang.org/std/process/struct.Command.html) works like this by design, buffering the output until the process exits and then displays it all at once on the screen. Eventually, we need to find an alternative libr

[2016-01-07 04:40] ebkalderon opened #2 "Implement remaining subcommands"
The following subcommands panic emit an `unimplemented!` when executed without the `(-h | --help)` flag:
- [x] _deploy_ - Compresses and deploys the project as a distributable program
- [ ] _module_ - Adds or removes engine subsystems

This issue will track the development status of these commands.

[2016-01-13 21:34] ebkalderon commented on #1
Seems like the [Command::stdout()](http://doc.rust-lang.org/std/process/struct.Command.html#method.stdout) method with [Stdio::inherit()](http://doc.rust-lang.org/std/process/struct.Stdio.html#method.inherit) passed may fix this problem.

[2016-01-13 22:00] ebkalderon commented on #1
Commit 984d03c checks out! Closing this issue.

[2016-01-13 22:00] #1 closed

[2016-01-27 01:16] ebkalderon opened #4 "Reorganize project infrastructure"
There are some major changes coming to our core infrastructure. Currently, the overall Amethyst project consists of three repositories: amethyst, amethyst_cli, and amethyst_opengl.

Amethyst is set for future expansion, and the current approach to organizing our code is not maintainable. I propose the following:
- [x] Consolidate all of the tools into an "amethyst_tools" repository. All future too

[2016-01-27 01:44] ebkalderon commented on #4
Unfortunately, this doesn't seem to be going smoothly.
1. Cargo generates an unnecessary `libamethyst_tools.rlib` library when I compile.
2. I cannot find the binaries inside the target/ folder and launch them without installing them onto the host system.

[2016-01-27 06:42] ebkalderon commented on #4
Here are some possible alternatives for better hosting multiple optional binaries in a single repository:
1. Somehow allowing binary crate dependencies in a similar manner to library crates, which would be the ideal route, but is unlikely to ever happen in Cargo.
2. Conditional compilation of binaries using Cargo `[features]`. This doesn't exist, but there is rust-lang/cargo#2080 which links to ru

[2016-01-27 17:52] ebkalderon commented on #4
Honestly, I think the best route for now is to make each binary a `[[bin]]` target and move on. Currently, there is only one tool (the `amethyst` CLI client), so we don't actually have to worry about dependencies and conditional compilation.

It's a hard decision, but to keep Amethyst moving, I'm going to mark this improvement as stalled. Discussion is still welcome, and resolving this ASAP is sti

[2016-01-27 18:11] ebkalderon opened #5 "Adopt new change log format"
The CHANGELOG.md file in this repository is not very well organized nor properly maintained. We should adopt a style similar to [Keep A Changelog](http://keepachangelog.com/), which seems much cleaner.

This issue is a dependency of the tools repository restructuring effort (issue #4), and an equivalent to ebkalderon/amethyst#17.

Progress is still being done on the [reorg](https://github.com/ebka

[2016-01-27 21:58] ebkalderon commented on #5
With the 0.2.0 release, this issue is now resolved.

[2016-01-27 21:58] #5 closed

[2016-02-10 15:57] ebkalderon opened #7 "Cargo stderr only prints after stdout"
The current behavior of the `execute_if!()` macro in the `amethyst_cli` tool is to print out error text (unformatted) immediately before quitting the program. Though this is perfectly fine for most cases, this can make redirected Cargo output from `amethyst new`, `amethyst build`, `amethyst run`, etc. print out at the wrong times, and also lacking colorization.

A likely solution would be to make

[2016-02-10 22:15] White-Oak opened #8 "`amethyst new` doesn't put specified name in Cargo.toml"
`amethyst new test` leads to `name = 'new_project'` in Cargo.toml.

[2016-02-10 22:16] White-Oak opened #9 "`amethyst new` doesn't put authors in Cargo.toml"
It is probably not so easy, but I think it is possible to get git name and email on a system and add put them into `author` field of Cargo.toml.

[2016-02-10 22:18] White-Oak opened #10 "`amethyst new` doesn't create `.gitignore` file"
I guess it should contain at least `target` folder.

[2016-02-11 00:18] ebkalderon commented on #10
D'oh! Thanks for reporting this. We need to add the missing `.gitignore` file to the `new_project.zip` archive, so that it can be included with `amethyst new`. I'd rather not add include `target` folder, though, since new Cargo projects don't have one by default anyway.

[2016-02-11 00:32] ebkalderon commented on #9
We may be able to work around manual manipulation of the TOML text. I propose the following:
1. Only the `src` and `resources` directories remain in the "new_project.zip" file.
2. At runtime, `amethyst new [name]` calls `cargo new [name]`. A fresh Cargo project is created.
3. The contents of "new_project.zip" are unzipped into the newly-created folder.
4. The `[dependencies]` details are appended

[2016-02-11 00:33] ebkalderon commented on #8
See [the proposal given in issue #9](https://github.com/ebkalderon/amethyst_tools/issues/9#issuecomment-182656509) for a potential fix.

[2016-02-11 00:34] ebkalderon commented on #10
Scratch my previous comment. See [the proposal given in issue #9](https://github.com/ebkalderon/amethyst_tools/issues/9#issuecomment-182656509) for a better potential fix.

[2016-02-11 00:46] White-Oak commented on #9
Yes, it is a much better and easier approach!

[2016-02-11 00:54] ebkalderon commented on #9
Cool! I can get started working on it a bit later today, though if you're impatient and would like to submit a pull request sooner, I welcome it. :wink:

[2016-02-11 00:55] White-Oak commented on #9
@ebkalderon yeah, I would like to submit a pull request if you don't mind :)

[2016-02-11 01:05] ebkalderon commented on #7
Unfortunately, I can't find an equivalent to [`std::process::Stdio::inherit()`](https://doc.rust-lang.org/std/process/struct.Stdio.html) that works with stderr output. If anyone knows of a good alternative, please mention it here.

[2016-02-11 01:53] ebkalderon commented on #7
Fixed by pull request #11. Closing.

[2016-02-11 01:53] #7 closed

[2016-02-11 02:31] ebkalderon commented on #9
@White-Oak Please, go right ahead. :smile:

[2016-02-11 05:47] #8 closed

[2016-02-11 05:59] ebkalderon commented on #10
This has been fixed by pull request #12. Marking as resolved and closing.

[2016-02-11 05:59] #10 closed

[2016-02-11 06:00] ebkalderon commented on #9
This has been fixed by pull request #12. Marking as resolved and closing.

[2016-02-11 06:00] #9 closed

[2016-02-11 06:49] ebkalderon opened #13 "Expose Cargo exit status if non-zero"
Right now, the Amethyst CLI client always returns zero when calling Cargo commands, regardless of whether Cargo itself returned errors. This is why the `tests.sh` file doesn't work as expected, returning "All tests pass!" even when that's obviously not true (see the comments on pull request #12 for an example).

This isn't too problematic since Amethyst and its toolchain are in the 0.X.Y release s

[2016-02-11 21:02] White-Oak commented on #13
btw, I suppose cargo call should return Result, not Option. Right now option return in case of error is very confusing.

[2016-02-11 21:18] ebkalderon commented on #13
@White-Oak I chose `Option` because it looked a little less verbose to me. If I were to choose `Result`, I would have to make the return value be something like `Result<(), &'static str>`, which isn't particularly pretty. **Edit**: It appears this [actually may be standard practice](https://doc.rust-lang.org/std/result/index.html#results-must-be-used)(?)

If a successful Cargo execution isn't mean

[2016-02-11 22:13] White-Oak commented on #13
Ah, considering the issue.
Problem in #12 was not about not exposing Cargo fail status, but about tests.sh not checking exit status of `amethyst new`.
I've PRed the fix #14.

[2016-02-12 12:52] ebkalderon commented on #13
@White-Oak After thinking about it some more, I've come to agree with your stance on using `Result` over `Option`. However, this should probably be a separate pull request from #15, which implements the basic functionality. One thing at a time...

**Edit**: I'd recommend reducing the verbosity of `Result` a bit with a typedef:

[code]

That makes things like this look much, much cleaner, similar t

[2016-02-13 05:25] ebkalderon commented on #13
Looks like with commit 3b416e0, this issue is now resolved.

[2016-02-13 05:25] #13 closed

[2016-02-23 04:35] bneil opened #17 "Issue using cargo to install"
Im currently using cargo 0.7.0-nightly (1af03be 2015-12-08)
using the following command:

[code]

However I was able to install when specifying the repo directly

`cargo install --git https://github.com/ebkalderon/amethyst_tools
`

I also spun up an ubuntu vm with a clean install of rust/cargo and got the same error as the above

[2016-02-23 05:22] ebkalderon commented on #17
@bneil Uh oh! Thanks for reporting this. That's not at all supposed to happen. I'll take a look at this tomorrow.

[2016-02-23 07:26] White-Oak commented on #17
I was able to get this error using this particular nightly (2015-12-08) (I actually think it's from Rust Nightly 1.6, why does ubuntu uses packages so old?), but only once. Later on, no matter what I'd do, there is no error, unfortunately.

[2016-02-23 15:29] ebkalderon commented on #17
@White-Oak @bneil Have either of you been able to reproduce this bug since?

I tried it this morning on the latest nightly as of this writing, which is `1.8.0-nightly (c8fc4817d 2016-02-22)`. Everything worked fine.

[2016-02-23 16:18] White-Oak commented on #17
@ebkalderon booted to Linux and was able to get this error on `nightly-2015-12-08`, on current stable and beta channels, but not on the current nightly.
Maybe there was a fix or a change in cargo recently (after Jan 20)?

[2016-02-23 17:00] White-Oak commented on #17
Ah, found it https://github.com/rust-lang/cargo/issues/2326.
@ebkalderon you need to republish a crate for it to be opened with cargos compiled prior to 2016-01-25.

[2016-02-23 17:07] ebkalderon commented on #17
@White-Oak I was unaware of this. Thanks! I'll take care of that now.

[2016-02-23 18:12] ebkalderon commented on #17
Commits 1c836b6, dce8366, and afb1db5 should hopefully fix this. Since we have merged several pull requests since 0.2.4, I've updated the crate version to 0.3.0 and pushed it to Crates.io. If this crate unpacks correctly for you, let me know and I'll close this issue.

[2016-02-23 18:39] ghost commented on #17
Works for me now, had the same issues.

[2016-02-23 19:18] ebkalderon commented on #17
@Krummer Great! I'm glad it works for you. Is anyone else still having issues?

[2016-02-23 21:21] ebkalderon commented on #17
Looks like this issue is resolved. I'll be closing this, but if anyone runs into this problem, feel free to reopen it.

[2016-02-23 21:21] #17 closed

[2016-03-09 04:04] ebkalderon opened #19 "Add support for --release flag"
The subcommands `build` and `clean` are supposed to optionally support the `--release` flag and pass it along to Cargo if given by the user. So far, none of these subcommands check for its presence at all.

Supporting release builds is very important, and therefore must be added before the 1.0 release rolls around.

[2016-03-13 04:52] ebkalderon commented on #2
@ogoding If you have any suggestions or questions regarding the `deploy` subcommand, feel free to post them here. It can get quite busy in the Gitter chat sometimes. :smile:

[2016-03-13 05:06] ebkalderon commented on #19
With pull request #20, this issue has been resolved. Closing.

[2016-03-13 05:06] #19 closed

[2016-03-14 14:10] ogoding commented on #2
@ebkalderon I think this issue should probably be split up into separate issues as I don't think there is any overlap between them. Nothing else comes to mind, other than that I'm still working on the deploy command.

[2016-03-14 14:16] ebkalderon opened #22 "Implement deploy subcommand"
See the [relevant wiki page](https://github.com/ebkalderon/amethyst/wiki/Project-Structure-Design#published-game-hierarchy) for a description of how the deployed game should look like. This issue is a dependency of #2.

[2016-03-14 15:26] White-Oak commented on #22
Bad idea to keep saves in a game folder

[2016-03-14 15:40] ebkalderon commented on #22
@White-Oak Could you please elaborate? Keep in mind that the deployed folder contains everything that should be put into the installer. Assuming that the published game is placed in `C:\Program Files\<name>`, where would you prefer these save files be placed instead? Perhaps in something like `AppData/Roaming/mygame` on Windows or `~/.mygame/` on Linux?

[2016-03-14 16:21] LucioFranco commented on #22
I know on mac a lot of games like EU4 put game saves in the documents folder. Like ~/Documents/Paradox/EU4/Saves etc.

[2016-03-14 18:22] White-Oak commented on #22
The common practice today is to put saves somewhere in home, On windows it is commonly `~/Documents/game_name` or `~/AppData/Roaming/game_name`. Moreover, on Windows 10 you are prohibited to write into Program files if you're not running from administrator, which is a bad practice.

[2016-03-14 18:33] ebkalderon commented on #22
That makes sense. Applications should be "good citizens" regardless of the platform they are running on, so it follows that we follow their standards. How does the following scheme seem to you?
- **Windows/OS X**: `~/Documents/game_name/`
- **Linux/BSD**: `~/.game_name/`

In addition to these defaults, this location could also be configurable from `config.yml`, if people want. I can update the wik

[2016-03-14 18:39] White-Oak commented on #22
@ebkalderon how about `~/.local/share` or `$XDG_DATA_HOME` if it is set on Linux? Afaik, Linux games use that for saves.

[2016-03-14 18:49] ebkalderon commented on #22
@White-Oak Sure. Let me look up the standard on XDG real quick so we can be sure we're using it right...

**Edit**: It looks like there is `$XDG_DATA_HOME` for user-specific data files and `$XDG_CONFIG_HOME` for user-specific config files ([source](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html)). Should we select one of the two, or use both?

[2016-03-14 19:42] White-Oak commented on #22
@ebkalderon I suppose `DATA_HOME` suits us more

[2016-03-16 04:03] ogoding commented on #22
@ebkalderon I just saw this discussion, I'll remove the auto create of the saves directory.

[2016-03-24 00:38] LucioFranco opened #26 "Determine if project is amethyst or not"
This issue is for discussion on the way that we should determine if we are in an amethyst project directory or not. Related to #25.

[2016-03-28 07:48] White-Oak commented on #22
Should probably be closed as #23 was merged.

[2016-03-28 07:53] ogoding commented on #22
@ebkalderon An issue for the saved data discussion should be raised I think. I'm not sure if it should be in the engine or this repo, otherwise I'd create it myself.

[2016-03-28 18:23] ebkalderon commented on #22
@ogoding I think we should create a new issue for that. I'll close this one in the meantime.

[2016-03-28 18:23] #22 closed

[2016-03-29 00:10] ebkalderon commented on #26
Since we've discussed and merged #25, I think we can mark this issue as resolved.

[2016-03-29 00:23] ebkalderon commented on #26
This still needs some more discussion in how we detect the validity of a given `config.yml` file and `resources` directory structure.

[2016-03-31 03:42] ogoding commented on #26
@ebkalderon Is there a set of options that are guaranteed to be used in any given game? Things like title might not be used (e.g. CLI game).

[2016-03-31 03:43] White-Oak commented on #26
@ogoding you can discuss ut here https://github.com/amethyst/amethyst/issues/29

[2016-03-31 03:45] ogoding commented on #26
@White-Oak Whoops, sorry. Will repost my comment there.

[2016-03-31 15:32] LucioFranco opened #30 "Print errors to stderr"
[Here](https://github.com/amethyst/tools/blob/master/src/cli/main.rs#L42) and [here](https://github.com/amethyst/tools/blob/master/src/cli/main.rs#L56) must go to `stderr` not `stdout`. Should be easy.

[2016-03-31 15:53] ebkalderon commented on #30
I'm on it!

[2016-04-01 17:33] lschmierer opened #31 "Move new_project.zip into seperate repository"
Because of Git is not good at handling binary blobs and it is not easy to examine the content of `new_project.zip` without downloading and unzipping it, I suggest to put the contents of it into a seperate Git repository.

The repository will be located in `amethyst/project_template`.

The template is included in `amethyst/tools` using Git submodules.
It is bundled together with the tools CLI on bu

[2016-04-02 11:45] ebkalderon commented on #31
I think that's a good idea overall to have the new project standard be in a non-binary file, but I disagree on a few points.
1. I don't think that should store an actual `Cargo.toml` inside the template project. I thought that was decided a while ago after some Gitter discussion that we should generate a real Cargo project by calling into actual Cargo and then applying changes on top of that.
2. I

[2016-04-02 12:16] lschmierer commented on #31
`amethyst new` should not connect to the internet, therefore I suggest using the template as submodule within the tools repo.

[2016-04-02 12:26] ebkalderon commented on #31
What should we call this repository? Perhaps `amethyst/project_template` or similar?

[2016-04-02 12:26] lschmierer commented on #31
This seems good.

[2016-04-02 19:17] ebkalderon commented on #31
I think this can be closed with #32 being merged.

[2016-04-02 19:17] #31 closed

[2016-04-10 09:29] ebkalderon opened #34 "Move useful code out of CLI tool and into shared library"
I think it might be useful to move as much code as possible out from the Amethyst build tool into an `amethyst_tools` library target. This has several advantages:
- Build tool becomes thin frontend for library
- Project management and Cargo wrapper code is reused when building future tools
- Integration tests can be written directly in Rust without having to rely on shell scripts

The new source f

[2016-10-10 21:27] ebkalderon commented on #34
@amethyst/tools-devs I am no longer sure if this will be needed. If we implement proper project detection and validation in the engine, would there be a need to keep this a separate library? Why not import this functionality from the engine?

[2016-10-12 19:41] ebkalderon opened #36 "Making the build tool a Cargo subcommand"
Would it be preferable to turn the Amethyst build tool into a [custom subcommand of Cargo](https://github.com/rust-lang/cargo/wiki/Third-party-cargo-subcommands) instead of a full wrapper, as it currently is?

[2016-10-13 14:43] LucioFranco commented on #36
I like this idea. What would the sub command be called?

[2016-10-13 14:56] White-Oak commented on #36
I suppose it's better not to integrate `Amethyst CLI` into `Cargo`. I just find it very confusing, and it will also be longer to type.

[2017-05-06 07:08] aspidites opened #37 "Initial scaffold doesn't build"
# Description
The out-of-box experience with Amethyst tools is suboptimal due to the generated application not working properly. I was following the steps [from the book](https://www.amethyst.rs/book/getting_started/automatic_setup.html) and failed to get the Hello World example to work. I then tried to make a new project without changing the contents of `src/main.rs` which yielded the results pro

[2017-05-06 07:23] AphonicChaos commented on #37
I just installed rustup and from that, grabbed version 1.6.0 of rustc. amethyst_tools failed to install. After that, I got the nightly version of rustc using `rustup default nightly` and was able to `cargo install amethyst_tools` again, but got the above errors.

Without knowing more about rust,it would appear that the interface for various libraries has changed, so the amethyst command is generat

[2017-05-06 07:56] torkleyy commented on #37
@aspidites The amethyst tools are not useful atm, the recommended way is to use nightly cargo's `--template` like this:

[code]

The reason its not working here is that the contained project template wasn't updated to point at the latest commit.

[2017-05-06 23:35] AphonicChaos commented on #37
@torkleyy given that the life of this project seems uncertain (PR open for a year, a few issues open for months), would it be best to update the book to use that cargo command you mention above? I could start chipping away at it, if so. I'd update the content as I made it through the various pages.

[2017-05-06 23:38] AphonicChaos commented on #37
Also:
[code]

[2017-05-07 05:05] torkleyy commented on #37
For the first command you need `rustup.rs` and for the latter one nightly cargo. Maybe you installed the stable binary only? I would definitely recommend rustup.

[2017-05-07 14:15] AphonicChaos commented on #37
I ran both of those commands with combinations of both rustup's rustc and cargo, as well as my distro's. Namely:
[code]

@torkleyy, are you on Linux?

[2017-05-07 14:30] torkleyy commented on #37
I am on Linux, yes. But I don't have rustup installed system-wide. Maybe the template flag was removed recently?
I'll check when I'm at home.

[2017-05-07 14:34] AphonicChaos commented on #37
Alright. I'll use the examples and API documentation (if it exists) for now. I'm not in a rush either -- plenty of other side projects to mess with, so if you get a bit tied up, that's totally fine.

Did you want to keep this open to track the issue, or close as it seems it's a "won't fix" given template support?

[2017-05-07 14:44] torkleyy commented on #37
I'd keep it open; we definitely should provide a better starting experience.

[2017-05-08 09:11] torkleyy commented on #37
@aspidites Checked, does not work for me, too. So I guess it was removed.

@ebkalderon How would you like to continue tools for Amethyst in general? Do we want to use the amethyst cli?

[2017-06-18 20:45] Aceeri opened #38 "Discussion about tooling and editors"
NOTE: Please see amethyst/amethyst#875 for more up to date information.

Issue/discussion revolving around the tooling of amethyst. For example, scene editors, visual scripting editors, tree views of components, etc.

Hotreloading should be at the core of most tooling. Modifying an entity file in any way should be updated in the game world for fast iteration. Some basic CLI around amethyst could m

[2017-06-22 14:15] torkleyy commented on #38
Thanks for the writeup, I agree with it. That is, however, with one exception: I don't think we need a halted mode; the editor window just shows a preview, so a separate game which happens to show the same world. The behavior of this "preview game" can be customized by the user.

[2017-09-06 00:47] erlend-sh commented on #38
I think a bare bones "Project Setup App" is a great way to get newcomers started. This is one thing the very popular LibGDX got right early on:

https://github.com/libgdx/libgdx/wiki/Project-Setup-Gradle

[2017-09-06 02:16] LucioFranco commented on #38
@erlend-sh I think the combination of using the book plus the amethyst-cli tool might accomplish that. Still some work to do on the book though.

[2017-09-06 10:41] erlend-sh commented on #38
True, a robust CLI might suffice.

@Aceeri I'm curious about this:

How does this fit in with [Citrine](https://github.com/Aceeri/citrine)? Are they different use cases or did you change your mind about using Nuklear and opted for pure Rust instead?

Just for the record, similar to Nuklear there is also imgui:

- https://github.com/ocornut/imgui
- https://github.com/Extrawurst/cimgui
- https://git

[2017-09-06 16:02] Aceeri commented on #38
@erlend-sh Citrine is my experiments to see if I could make a more idiomatic rust UI system, I'd prefer if it were pure rust (since it makes everything a whole lot easier to get set up from a user's perspective), but others can work as well. My end goal I really want to do is having multiple processes (subprocesses?) for different tools to be able to interact with each other like how most other ga

[2017-10-25 10:09] torkleyy commented on #37
This should be fixed now.

[2017-10-25 10:09] #37 closed

[2017-10-25 13:51] #30 closed

[2017-10-25 13:51] #34 closed

[2018-01-07 14:37] Hittherhod commented on #38
Would it make sense for the `amethyst watch` command, at least initially, to watch all config files and publish changes, either via stdin or a network (in keeping with the goal of the Unix philosophy)? This might require changes in the amethyst engine to accept external input and convert it to events.

Otherwise, I could see another path, possibly modeling config files as essentially data streams;

[2018-04-24 01:51] TheLostLambda opened #49 "`amethyst new game` generates files using carriage returns on Linux (and MacOS?)"
The issue is as stated in the title. I think that there just needs to be some platform check that removes the carriage returns on non-Windows platforms.

[2018-04-26 04:14] #49 closed

[2018-05-21 00:19] angelrain1 opened #53 "regex parse error on windows"
[code]

tools/src/templates.rs 119 line
[code]

##### REGEX example is
[code]

maybe **Regex::new("(?P<last>[^\r])\n")   ** is rignt?

[2018-05-21 01:03] Xaeroxe commented on #53
Thanks for reporting this!  Working on a fix now.

[2018-05-21 01:10] Xaeroxe commented on #53
Fix published in 0.7.1

[2018-05-21 01:16] #53 closed

[2018-10-06 18:11] Bendrien opened #61 "Openssl is not detetected on installation"
Hello, i wont to paly around with amethyst and tried to install the recomanded tooling amethyst_tools.
unfortunately during installation i stumbled over the 'Unable to detect OpenSSL version' error.
Im using arch linux and have openssl 1.1.1 and 1.0 installed. Here is the stack backtrace:

[code]

Im kinda noob in such things and dont know how to proceed from here on and would appreciate any suppo

[2018-10-06 19:12] torkleyy commented on #61
Hey, there's an open PR to fix this already ;)

On Sat, Oct 6, 2018, 20:11 Anyere <notifications@github.com> wrote:

[2018-10-15 19:01] LiaRowan commented on #61
What's the status of this PR? I'm also hoping to get started with Amethyst (on Arch Linux as well), but can't install the tools.

The PR looks like it's approved by @Moxinilian, but hasn't been merged yet. Anything I can do to help?

[2018-10-15 19:24] Moxinilian commented on #61
Sorry about that. #60 is getting merged now.

[2018-10-15 19:26] Moxinilian commented on #38
amethyst/amethyst#875 addresses this

[2018-10-15 20:33] #61 closed

[2018-10-18 14:52] KYSXD commented on #61
Hi!
I'm getting the same error running `$ cargo install amethyst_tools` on an empty project:

[code]

I'm running on Manjaro 17.1.12 (Arch based) with `openssl 1.1.1-1` and `openssl-1.0 1.0.2.p-1` installed.

Am I doing something wrong? I thought that with #60 I should have no problem.

Any help is appreciated.

[2018-10-18 16:04] jamiltron opened #63 "OpenSSL panic."
Hello, I am trying to install amethyst_tools 0.7.2 using cargo 1.29.0 and rustc version 1.29.2 on Arch Linux 4.18.14 with OpenSSL 1.1.1-1 installed from Arch's package manager.

When running `env RUST_BACKTRACE=1 cargo install amethyst_tools` I get the following error:

[code]

I assume this is related to an OpenSSL version mismatch?

[2018-10-18 16:22] torkleyy commented on #63
Hey, this should be fixed already. Probably we forgot to publish a new version.

[2018-10-18 16:35] torkleyy commented on #63
Should be fixed after an update (`cargo install --force amethyst_tools`).

[2018-10-18 16:35] torkleyy commented on #61
Should be fixed in the new version.

[2018-10-18 19:34] jamiltron commented on #63
Thanks! I'll check later today.

[2018-10-26 20:36] KYSXD opened #66 "use of unstable library feature 'iterator_flatten' ( new project cretated in amethyst_tools 0.7.4)"
Got the following error after:

[code]
[code]

Running on Manjaro linux.

Is it related to the cli or amethyst itself?

[2018-10-26 23:59] Xaeroxe commented on #66
Please update your rust compiler, this was stabilized recently.  If that works please close this issue.

[2018-10-27 00:20] KYSXD commented on #66
It was the rust version. Thanks.

[2018-11-14 22:00] KYSXD opened #67 "Question: is x11 server supported?"
Trying to run a working app with WSL (ubuntu) prints the following error:

(also happens on newly created projects via CLI)

Is x11 not supported? or am I missing something?

[code]

[2018-11-14 22:05] Xaeroxe commented on #67
X11 is supported, however usually when we get this error it means the graphics backend didn't report any working pixel formats.  You might need to check your drivers.

[2018-11-15 04:50] #67 closed

[2018-11-15 05:00] torkleyy commented on #67
I don't think WSL supports any graphics.

On Wed, Nov 14, 2018, 23:00 KYSXD <notifications@github.com wrote:

[2018-11-16 09:36] erlend-sh commented on #38
This seems relevant to what’s being discussed in
https://github.com/amethyst/rfcs/pull/6

I still think the LibGDX model is the best way offer a framework/engine hybrid.

[2019-01-13 17:59] longwusha opened #71 "fail to create new game after deleting tool source"
When I executed the ‘amethyst new’ command, the tool successfully created a new folder, but the creation of the new game project failed, the details are as follows：

lws@lws-deepin:/tool/project/games$ RUST_BACKTRACE=1 amethyst new pong -a 0.10.0
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kind: NotFound, message: "No such file or directory" }', libcore/re

[2019-01-13 18:02] bytesnail commented on #71
I hope anyone can help me solve this problem.

[2019-01-13 22:06] LucioFranco commented on #71
try

[code]

[2019-01-14 09:11] bytesnail commented on #71
@LucioFranco

This way should not work, the code shows that doing this will throw an error:

[code]

And I did get this error after trying it:
[code]

[2019-01-14 09:20] bytesnail commented on #71
@LucioFranco

I checked the code, I think the problem is in this code snippet:
[code]
The environment variable CARGO_MANIFEST_DIR should be set, I did not see the prompt in the relevant help documentation, and after I installed this tool, this environment variable is not automatically set.

[2019-01-14 09:26] bytesnail commented on #71
@LucioFranco

If you execute 'echo $CARGO_MANIFEST_DIR', what is the result.

I can not find the folder 'templates' in my computer.

[2019-01-14 11:02] Rhuagh commented on #71
CARGO_MANIFEST_DIR is a special environment variable that cargo sets when it starts executing a command. I'm not sure if that is possible to use in a compiled build of the tools? Looks like a bug to me.

[2019-01-14 12:05] bytesnail commented on #71
Yeah, it works when I run it as 'cargo run --package amethyst_tools --bin amethyst new pong'.

But according to the prompt in the README, the correct way to run should be as follows:

[code]

[2019-01-14 12:08] bytesnail commented on #71
@Rhuagh

Is this tool designed as a subcommand of cargo? Otherwise we should not try to use the CARGO_MANIFEST_DIR environment variable in the code.

[2019-01-14 12:13] bytesnail commented on #71
@Rhuagh

I can't find the templates folder on my local computer, so I can't get it to work by manually setting the CARGO_MANIFEST_DIR environment variable. What path is your local templates folder in?

[2019-01-15 16:23] Willowblade opened #73 "amethyst cli doesn't init git repo"
See #10, there is also no .gitignore created (but these go hand in hand)

As the amethyst CLI tries to emulate cargo cli, in my opinion it should also initialize a git repo like cargo does.

### Amethyst CLI (sorry for the time it took me to derp around)

![peek 2019-01-15 17-19](https://user-images.githubusercontent.com/3596182/51193876-2ee9d100-18ea-11e9-9a30-109d81066f04.gif)

### Cargo CLI

![

[2019-01-15 16:30] Xaeroxe commented on #73
That's fair, thanks!

[2019-01-15 17:48] LucioFranco commented on #73
Yup, this would be great! Should be as easy as just calling this https://docs.rs/git2/0.8.0/git2/struct.Repository.html#method.init

[2019-01-16 22:04] #73 closed

[2019-02-13 19:28] torkleyy commented on #36
I don't think this will happen, as discussed before.

[2019-02-13 19:28] #36 closed

[2019-02-13 19:29] torkleyy commented on #4
Closing due to inactivity.

[2019-02-13 19:29] #4 closed

[2019-02-13 19:29] torkleyy commented on #63
@jamiltron Any update? :)

[2019-02-13 19:30] torkleyy commented on #63
I'm wondering if we should just link statically to avoid this issue in the future.

[2019-02-27 07:55] sinkuu commented on #71
I encountered the same error message, and fixed it by running `cargo install -f amethyst_tools` again. `amethyst` binary contained an old path where its source directory no longer exists as I have cleaned up `~/.cargo/registry/src`.

[2019-02-27 14:31] Xaeroxe commented on #71
This is a old issue that we've resolved in a newer version, so I'm going to close this.

[2019-02-27 14:37] torkleyy commented on #71
Are you sure @Xaeroxe? It seems like we're still loading the templates at run-time, assuming they are in the source directory. Isn't that something we ought to fix?

[2019-02-27 17:25] Xaeroxe commented on #71
I've tested this recently by installing it from crates and it is working. Though I do see a reference to `CARGO_MANIFEST_DIR` in the source. Also, @sinkuu reported they fixed the problem by installing the latest version.

[2019-02-27 17:31] Xaeroxe commented on #71
Ok, so it seems we're dependent on our source directory in the final compiled version. That's the bug. I'll update the issue title to reflect that.

[2019-02-27 17:33] Xaeroxe commented on #26
Closing until we can demonstrate why this is necessary

[2019-02-27 17:33] #26 closed

[2019-03-20 08:19] golergka opened #75 "Broken link to Amethyst CLI"
README has a broken link: https://github.com/amethyst/tools/tree/master/src/cli

[2019-04-12 13:52] torkleyy commented on #63
Closing since this should be fixed now.

[2019-04-12 13:52] #63 closed

[2019-04-12 13:59] torkleyy opened #76 "Implement `amethyst deploy`"
I think it would be great to have some way to deploy an Amethyst game, and the CLI seems like a good place to implement this.

## Initial implementation

An initial implementation could be to simply do a release build on the host platform, copy `resources` + `assets` if they exist and package it into a zip / tar.

## Further improvements

* Do cross-compilation for other platforms
* Create install

[2019-06-09 15:08] BradLugo commented on #75
**TL;DR**: Should we remove the **Toolchain** section altogether or just get rid of the link?

It seems like the documentation and the implementation for `amethyst/tools` are inconsistent with each other. Looking at the documentation and older commits it appears the CLI was one of many tools intended to be built and tracked in this repo. Looking at the current implementation though it seems like t

[2019-06-09 17:27] torkleyy commented on #75
Yes, this repo should probably be renamed to `amethyst-cli`.

[2019-06-09 18:06] BradLugo commented on #71
Can someone provide steps to reproduce this issue and elaborate more on these:

[2019-06-10 07:55] #75 closed

[2019-06-10 07:59] torkleyy commented on #71
Yes.

## Reproduction

1. Clone this repo
2. Build the `amethyst` binary
3. Try running a command (should work)
4. Move the cloned repo, and try again (this should fail)

The reason for that is that we encode the location of the source directory into the binary, which is incorrect.
Instead, the templates should have been included into the binary, which was the case previously (but was changed at s

[2019-06-10 22:40] BradLugo opened #78 "Implement `amethyst generate`"
As a developer of an Amethyst based project, I'd like the Amethyst cli to be able to generate basic building blocks without having to copy and paste boilerplate myself.

#58 includes most of these changes but needs to be rebased, and some of the logic needs to be changed as per the discussion in that PR.

Generator Subtasks:
- [ ] State
- [ ] Component
- [ ] System

Other ideas for the generator c

[2019-06-10 22:41] BradLugo opened #79 "Implement `amethyst destroy`"
Contrasting to #78, I'd like to use the Amethyst cli to delete the building blocks it's able to create. I'd think the `generate` command and `destroy` command should be consistent in the constituents they create/delete. If you have any suggestions for said constituents, please do so in #78.

Destroyer Subtasks:
- [ ] State
- [ ] Component
- [ ] System

[2019-06-10 22:45] BradLugo opened #80 "Rename repo to amethyst-cli"
The rewrite from #39 changes the intention behind the current repo's name. Discussed in #75, the repository name should be changed to `amethyst-cli`. The topic for the repository should also be modified.

[2019-06-11 23:02] BradLugo commented on #71
I've been looking into this the past couple of days. The best solution I've come up with is using a [build script](https://doc.rust-lang.org/cargo/reference/build-scripts.html) to generate a file that creates a tuple for the file name and [include_str](https://doc.rust-lang.org/std/macro.include_str.html) call to the file name. Then use [include](https://doc.rust-lang.org/std/macro.include.html) t

[2019-06-12 04:06] torkleyy commented on #71
No, that sounds good. It's pretty similar to what I did in my original rewrite.

[2019-06-13 18:18] #71 closed

[2019-06-13 21:10] BradLugo opened #82 "Upgrade packages and fix CI build"
As discussed in #81, we should upgrade `amethyst/tools` to use Rust 2018 and look into any packages that are breaking and could break the CI build.

[2019-06-13 21:10] BradLugo opened #83 "Add functionality for addition template types"
#81 changed the way templates types are handled back to only being `main`. The lack of this functionality will block development on #78 and #79.

[2019-06-14 06:20] #82 closed

[2019-06-15 18:44] BradLugo commented on #83
I'm trying to decide a good way to do this. The best solution I've come up with so far is to delete all of the `index.ron` files in `templates/<version-number>/<template-name>` and create `index.ron` or `templates.ron` either to `templates` or the root of the project with an object structure something like this:
[code]

Thoughts?

[2019-06-15 18:51] torkleyy commented on #83
Why do you need to put it all into on RON file? I'd just leave it in the individual files, but change the contents to a struct.

[2019-06-15 19:02] BradLugo commented on #83
That's definitely on the table. My thought was that having the versions and template types in a single RON file would allow us to compile and know exactly what files are included. I'm not a _huge_ fan of relying on the filesystem for data consistency, i.e., the compilation would fail if we configured a version in the RON file and the compiler couldn't find it vs. the compiler not seeing it the ver

[2019-06-15 19:10] torkleyy commented on #83
I see. Well, I think both solutions are okay. I'm pretty sure it's fine to trust the file system though ^^

[2019-06-15 19:15] BradLugo commented on #83
Ultimately, y'all are the maintainers, so I'll implement what y'all think is best. Left to my own devices though, I'm going to choose the single file solution unless you tell me otherwise.

[2019-06-15 19:19] torkleyy commented on #83
Sounds good :+1:

[2019-06-16 03:42] BradLugo commented on #76
Did you want this done via a wrapper around `std::process::Command` and `cargo` or using the [cargo library](https://docs.rs/cargo/0.36.0/cargo/index.html)?

[2019-06-16 05:37] torkleyy commented on #76
I think both work. The `cargo` library gives us more freedom, but it also increases compile times a lot. So I'd probably go for the `Command` here.

[2019-08-12 07:23] jmeggitt opened #91 "Does not work with latest Amethyst release"
A template is needed for Amethyst 0.12.0.

[2019-08-13 16:36] DataTriny commented on #91
@jojolepro: I guess you can close this one now, since #90 got merged!

[2019-08-13 17:52] #91 closed

[2019-10-14 14:04] pablodiegoss opened #94 "Install broken, dependency compiling error on tokyo-rustls"
Hello, I'm trying to use amethyst-tools but it seems some dependency is broken or has been using something unstable from rust nightly.

Running `$ cargo install amethyst_tools`
[code]
My system specs:
* Lubuntu 19.04
* cargo 1.36.0 (c4fcfb725 2019-05-15)
* rustc 1.36.0 (a53f9df32 2019-07-03)
* rustup 1.19.0 (2af131cf9 2019-09-08)

Searching around for this error I found out that using nightly migh

[2019-11-21 00:10] #94 closed

[2019-11-24 16:16] kraemahz opened #96 "liquid-value is failing on nightly (again)"
[code]

[2019-11-24 16:25] 0x6273 commented on #96
This is because nobody has bothered to publish 0.9.1 to crates.io yet.
`cargo install --git https://github.com/amethyst/tools` should work.

[2019-11-24 16:34] kraemahz commented on #96
That did work. Hope the new version is published soon!

[2019-12-01 19:46] jmwielandt opened #97 "amethyst new <name> do not compile in 0.13.2"
Hi,

As the title says, the base project do not compile.

<hr/>

**EDIT:** in 0.12.0 it compiles propperly. I think #91 is not solved.

<hr/>

Here's the error:

![image](https://user-images.githubusercontent.com/37153467/69919291-234bbe00-145a-11ea-8a60-ba89bd16c14f.png)

Greetings!

[2019-12-01 22:41] 0x6273 commented on #97
It seems to compile on both 0.12.0 and 0.13.2 if you remove the `ecs::prelude::{..}` line.

[2019-12-11 23:06] Quetzal2 opened #99 "The base template does not compile when using Metal (Mac OS)"
This is not like #97, because I am not talking about a published version of Amethyst (like v0.13.2). This makes it a bit trickier to solve (can't just add a template in https://github.com/amethyst/tools/tree/master/templates, like https://github.com/amethyst/tools/pull/98).

# The issue with Amethyst v0.13.2 (and below)
The actual issue is that amethyst v0.13.2 pulls the metal crate (metal-rs) v0.

[2019-12-12 00:27] 0x6273 commented on #99
I believe downgrading the objc crate to 0.2.6 lets you build the releases on mac os. `cargo update -p objc --precise 0.2.6`. But I don't have a mac to test this.

The templates should probably include a `Cargo.lock` file to ensure this sort of breakage doesn't keep happening.

[2019-12-12 08:43] Quetzal2 commented on #99
That works too. I tested it, and can confirm that this "fixes" the issue. I think that this is a good simple trick to bypass the issue for now, as the next Amethyst release will fix it in a clean way.

Including a Cargo.lock in the templates (at least the current one (v0.12.0)) would be great, since this tool is supposed to be usable by newcomers too, and asking them to do this manually could be t

[2019-12-12 20:42] azriel91 commented on #96
Sorry for the wait, here it is: https://crates.io/crates/amethyst_tools/0.9.1 :v:

[2019-12-12 20:42] #96 closed

[2019-12-28 19:50] yoteli9791 opened #102 "Unable to create a project"
Just downloaded/compiled/installed Amethyst
[code]
I can easily get `https://crates.io/api/v1/crates/amethyst_tools` in my browser though.

[2020-02-18 00:07] hectorgrey commented on #99
What I have done is to use `amethyst new`, and then update the cargo.Toml to use the latest (0.14 at time of writing), followed by correcting a couple of compile errors in the provided main.rs.  So far as I can tell, `amethyst_tools` only really includes update and new, so this should hopefully work until amethyst_tools is upgraded to use the latest stable release.

[2020-03-24 01:39] #97 closed

[2020-03-25 18:21] 0x6273 commented on #99
Can someone confirm if this still happens with the 0.13.2 template? I believe the 0.15.1 release of metal-rs should have fixed this, but I don't have a Mac to test this on.

[2020-03-26 17:41] nickbryan commented on #99
@0x6273 I have updated to the latest version created a new test project with no changes and this compiles/runs fine for me on my mac running Catalina 10.15.3.

Get a nice purple window :)

[2020-04-02 13:32] RustigeMan opened #111 "Gives unhelpful error message if git is not installed"
I didn't have git installed yet on my new laptop and amethyst_tools was giving me a rather unhelpful message when making a new project:

    error: project creation for project "pong" failed
    caused by: No such file or directory (os error 2)

No such error is displayed now that git is installed.

[2020-05-07 09:55] capnhawkbill opened #113 "aur package"
I created a package in the arch user repository for this git repository.
https://aur.archlinux.org/packages/amethyst-tools-git/

[2020-05-07 12:51] AnneKitsune commented on #113
thanks!

[2020-05-08 15:26] #113 closed

[2020-08-19 16:10] CleanCut commented on #2
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:10] #2 closed

[2020-08-19 16:10] CleanCut commented on #38
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:10] #38 closed

[2020-08-19 16:10] CleanCut commented on #111
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:10] #111 closed

[2020-08-19 16:10] CleanCut commented on #99
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:10] #99 closed

[2020-08-19 16:11] CleanCut commented on #83
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:11] #83 closed

[2020-08-19 16:11] CleanCut commented on #76
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:11] #76 closed

[2020-08-19 16:11] CleanCut commented on #78
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:11] #78 closed

[2020-08-19 16:11] CleanCut commented on #79
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:11] #79 closed

[2020-08-19 16:11] CleanCut commented on #80
👋 I'm closing all PRs and Issues since `amethyst_tools` is being end-of-life'd.  Please see [this forum post](https://community.amethyst.rs/t/end-of-life-for-amethyst-tools-the-cli/1656) for a place to respond and/or discuss the situation rather than here on the repo.

[2020-08-19 16:11] #80 closed